@charset "utf-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}


* {margin: 0; padding: 0; box-sizing: border-box;}
ul, ol {list-style: none;}
a {text-decoration: none; color: #333;}

body {font-family: 'Pretendard';}
.container {width: 1120px; height: 100%; margin: 0 auto; }

/* header */
header {width: 100%; height: 115px; }
.header_top {width: 100%; height: 50%; display: flex; justify-content: space-between; align-items: center; ;}
.logo {width: 70px; height: 35px;}
.img1 {width: 100%; height: 100%;}
.h_right {width: 400px; height: 35px; display: flex; justify-content: space-between;  }
.search_icon {width: 275px; height: 100%; display:flex; justify-content: space-evenly; align-items: center;  border-radius:8px; background-color:  #e7e9e0;}
.search {border: none; font-size: 27px; width: 200px;background-color:  #e7e9e0;}

.box{width:100%; height: 100%;}
.mypage {width: 120px; height: 100%; display: flex; align-items:center;}

.header_b {width: 100%; height: 50%; display: flex; justify-content: space-between; align-items: center;  }
.header_b nav {width: 300px; height: 25px; }
.header_b nav ul{display: flex; justify-content: space-between;}

.category {width: 225px; height: 25px; display: flex; justify-content:space-between; }

/* .header_c {width: 50%; height: 20%; display: flex; justify-content: space-between; align-items: center; background-color: rgb(8, 173, 238); } */
.header_c {width: 600px; height: 40px; display: flex;  align-items: center;}
.header_c ul{width:100%; display: flex; justify-content: space-between;}


/* section */

#icon {width:100%; height: 200px; }
#icon_menu{
    display: flex;
    justify-content: center;
    gap :30px;
    margin: 20px 0;
}

#icon_menu a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

#icon_menu .icon{
    width: 70px;
    height: 70px;
    background-color: #ddd;
    border-radius: 50%;
 
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 8px;
    transition: background-color 0.3s;
}

#icon_menu a:hover .icon {
    background-color: gold; 
    color: white;
}

.snssum {margin-top: 10px;}

.sns li{width: 50px; height: 50px; background-color: white; border-radius: 50%; display: flex; justify-content: center; align-items: center; border: 1px solid #ddd}

/* footer */
.foot {width: 1120px; height: 400px; display:flex; justify-content: space-around; margin: 0 auto; }
.foot_left {width: 800px; height: 100%; display:flex; justify-content: space-around; margin: 0 auto; } 
.foot_right {width: 320px; height: 100%; display:flex; justify-content: space-around; margin: 0 auto; }
footer {width: 100%; height: 200px; display:flex; }
.customer {width: 70px; height: 40px; display: flex; padding-top: 20px; gap: 20px;}
.customer ul{width:100%;  justify-content: space-between; }
.memo{width: 100px; height: 200px; display: flex;  padding-top: 20px; }
.ct {margin-bottom: 15px;}
.memo ul {width: 100%;  justify-content: space-between;}
.memo ul li {margin-top: 8px;}
.memo ul li:first-child {margin-top: 0;}
.memo_2{width: 150px; height: 200px; display: flex;  padding-top: 20px; }
.memo_2 ul li {margin-top: 8px;}
.memo_2 ul li:first-child {margin: 0;}
.memo_3{width: 100px; height: 200px; display: flex;  padding-top: 20px; }
.memo_3 ul li {margin-top: 8px;}
.memo_3 ul li:first-child {margin: 0;}

.keyword {width: 1120px; height:150px; margin: 0 auto; padding-top: 50px;}
.keyword_ul {display: flex; ;gap: 20px; margin: 10px 0 0 10px;;}
.keyword_ul li{border: 1px solid black;border-radius: 3px; font-size: 18px; padding: 5px;}

.event {width: 1120px; height: 200px; margin: 0 auto; padding-top: 10px; }
.eventbox {width: 365px; height: 100px; }
.boxset {display: flex; justify-content: space-between; margin-top: 10px;}
.customer_ul li{margin: 10 0 0px;}
.sns ul{margin-top: 20px;display: flex; justify-content: space-between; gap: 25px;}

.webton {width: 1120px; margin: 0 auto;
margin-top: 70px;}
.bigbox{display: flex; margin: 10px 0 20px; }

.wb1 {width: 370px; height: 100px;  margin: 2px; display: flex; }

.wb_img{border: 1px solid black; width: 80px;height: 100px;}
.wb_img img {width: 100%; height: 100%;}
.wb_img1{display: flex; justify-content: center;align-items: center;width: 80px;height: 100px;}
.wb_img2{display: flex; flex-direction: column; justify-content: center; }

.event1 { width: 1120px; height: 150px; margin-top:40px;}
.three {display: flex; justify-content: space-between; align-items: center; margin-top: 30px; }
.ev1 {height: 150px;  gap: 30px; display: flex; justify-content: center; align-items: center;}
.ev1 img {width: 100%; height: 100%;}

.nowtime {width: 1120px; height: 300px; margin: 0 auto; background-color: aqua;}
.comic {background-color: #b0ed07; display: flex;  }
.sosul123 {width: 33%; height: 100px; display: flex;  background-color: gold;}
.sosul {display: flex; justify-content: center; align-items: center;width: 20%; height: 100%; border: 1px solid black; }
.sosu2 {display: flex; justify-content: center; align-items: center; width: 20%; height: 100%; border: 1px solid black; }
.sosul3 {display: flex; justify-content: center; flex-direction: column; border: 1px solid black; }
.foot_bottom {width: 1120px; height: 40px; display: flex; padding-top: 20px; gap: 20px; margin: 0 auto;}
.info1{width:1120px;  justify-content: space-between; }